block type
.type
  .h1
    .h1_name H1
    .h1_text-example This one is the sub-section or widget title
  .h2
    .h2_name H2
    .h2_text-example Next one is the item title inside widgets
  .h3
    .h3_name H3
    .h3_text-example THIS IS A LABEL OR CTA TEXT
  .body-text
    .body-text_name Body
    .body-text_text-example This is the body text which is used for most of the design, like paragraphs, lists, etc.