@use './text-field/text-field.scss';
@use './text-field/_hover/text-field_hover.scss';

.text-field-default {
  margin-top: 140px;
  margin-left: 141px;
}

.text-field-hover {
  margin-top: 20px;
  margin-left: 141px;
}

.text-field_description {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  padding-bottom: 5px;
}

.text-field_description p:nth-child(1) {
  color: rgba(#1f2041, 1);
  font-weight: 700;
}

.text-field_description p:nth-child(2) {
  color: rgba(#1f2041, 0.5);
}

.dropdown {
  margin-top: 20px;
  margin-left: 141px;
  width: 320px;

  .text-field {
    padding: 0;
  }
}

.dropdown .dropdown-field {
  position: relative;
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  /*меняется при клике через js*/
  border-radius: 4px 4px 4px 4px;
}

.drop-button {
  background-image: url('./dropdown/__expand-arrow/expand-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;

  cursor: pointer;
}

.dropdown .dropdown-menu {
  position: relative;
  width: 320px;
  height: 159px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  border-radius: 0 0 4px 4px;

  font-size: 12px;
  box-sizing: border-box;
}

.invisible { /*класс для невидимости dropdown*/
  visibility: hidden;
}

.dropped-menu__option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 30px;

  padding-left: 15px;
  padding-top: 7px;
}

.dropped-menu__option > p {
  color: rgba(#1f2041, 1);
  font-weight: 700;
  font-size: 12px;
}

.dropped-menu__buttons-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 92px;
  padding: 7px;
}

.add-sub-button {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.25);

  outline: none;
  background-color: white;
  cursor: pointer;
}

.add-sub-button:last-of-type {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.5);
}

.dropped-menu__confirm-button {
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;

  font-weight: 700;
  font-size: 12px;
  color: rgba(#bc9cff, 1);

  position: absolute;
  bottom: 13px;
  right: 7px;
}

