@use './text-field/text-field.scss';
@use './text-field/_hover/text-field_hover.scss';

body {
  height: 1440px;
}

.text-field-default {
  width: 320px;
  margin-top: 140px;
  margin-left: 141px;
}

.text-field-hover {
  width: 320px;
  margin-top: 20px;
  margin-left: 141px;
}

.text-field_description {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  padding-bottom: 5px;
}

.text-field_description p:nth-child(1) {
  color: rgba(#1f2041, 1);
  font-weight: 700;
}

.text-field_description p:nth-child(2) {
  color: rgba(#1f2041, 0.5);
}

.guests-dropdown {
  margin-top: 20px;
  margin-left: 141px;
  width: 320px;
/*странная наследственность*/
  .text-field {
    padding-left: 0;
  }
}

.guests-dropdown .dropdown-field, .date-drowdown .dropdown-field, 
.filter-date-dropdown .dropdown-field, .subscription-text-field .dropdown-field, 
.room-facilities .dropdown-field {
  position: relative;
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  /*меняется при клике через js*/
  border-radius: 4px 4px 4px 4px;
}

.drop-button {
  background-image: url('./dropdown/__expand-arrow/expand-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;

  cursor: pointer;
}

.guests-dropdown .dropdown-menu {
  position: absolute;

  width: 320px;
  height: 159px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  border-radius: 0 0 4px 4px;

  font-size: 12px;
  box-sizing: border-box;

  z-index: 1;
}

.invisible { /*класс для невидимости dropdown*/
  visibility: hidden;
}

.dropped-menu__option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 30px;

  padding-left: 15px;
  padding-top: 7px;
}

.dropped-menu__option > p {
  color: rgba(#1f2041, 1);
  font-weight: 700;
  font-size: 12px;
}

.dropped-menu__buttons-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 92px;
  padding: 7px;
}

.add-remove-button {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.25);

  outline: none;
  background-color: white;
  cursor: pointer;
}

.add-remove-button:last-of-type {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.5);
}

.dropped-menu__confirm-button {
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;

  font-weight: 700;
  font-size: 12px;
  color: rgba(#bc9cff, 1);

  position: absolute;
  bottom: 13px;
  right: 7px;
}

.text-field-masked {
  width: 320px;
  margin-top: 20px;
  margin-left: 141px;
}

/*двойной дропдаун выбора даты*/
.double-date-dropdown {
  position: relative;
  margin-top: 40px;
  margin-left: 141px;
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.date-drowdown {
  width: 150px;
}

/*таблица календарь*/
.calendar {
  position: absolute;
  top: 50px;
  left: -141px;

  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 141px;

  background-color: #FFFFFF;

  width: 320px;
  height: 369px;
  text-align: center;

  border: 1px solid rgba(#1F2041, 0.25);
  border-radius: 4px;
  box-shadow: 0px 10px 20px 0px rgba(#1F2041, 0.05);

  padding: 20px;
  z-index: 2;
}

.calendar-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar-top .calendar-move-button {
  cursor: pointer;
}

.calendar-top p {
  font-weight: 700;
}

.calendar thead {
  color: #BC9CFF;
  font-weight: bold;
}

.calendar table {
  width: 280px;
  height: 240px;
  margin: 30px auto 20px;

  font-size: 12px;
  color: rgba(31, 32, 65, 0.5);

  border-spacing: 0px;
}

.calendar td {
  box-sizing: border-box;
  width: 40px;
  height: 40px;

  user-select: none; 
}

.calendar tbody td {
  cursor: pointer;

  &:hover {
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.5);
  }
}

/*поменять класс*/
.calendar-buttons .dropped-menu__confirm-button {
  position: static;
}

.calendar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 12px;
}

.calendar-move-button:first-of-type {
  background-image: url('./calendar/arrow_back.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;

  cursor: pointer;
}

.calendar-move-button:last-of-type {
  background-image: url('./calendar/arrow_forward.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;

  cursor: pointer;
}

/*filter date dropdown*/

.filter-date-dropdown {
  width: 266px;
  margin-left: 141px;
  margin-top: 41px;
}

/*subscription text field*/

.subscription-text-field {
  margin-top: 41px;
  margin-left: 141px;
  width: 266px;
}

.subscription-field {
  position: relative;
}

.confirm-button {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url('../assets/arrow_forward.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;

  cursor: pointer;
}

/*room facilities dropdown*/
.room-facilities {
  width: 266px;

  margin-top: 100px;
  margin-left: 141px;
}

.room-facilities .dropdown-field {
  border-radius: 4px 4px 0 0;
}

.room-facilities .dropdown-menu {
  position: absolute;

  width: 266px;
  height: 119px;

  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  border-radius: 0 0 4px 4px;

  font-size: 12px;
  box-sizing: border-box;

  z-index: 1;

  padding-left: 0; /*убираем паддинг .text-field родителя*/
}

/* expandable checkbox list */
.expandable-checkbox-list {
  margin-left: 141px;
  margin-top: 40px;
  
  width: 266px;
}

.list-name {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.checkbox-section {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  color: #1F204180;
}

.checkbox-button {
  font-size: 14px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.expand-list {
  transform: rotate(180deg);
}

.checkbox-button input {
  width: 20px;
  height: 20px;

  border: 1px solid #BC9CFF;
  border-radius: 4px;

  margin-right: 10px;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  outline:none;
}

input[type="checkbox"]:checked {
  background-color: red;
  border-color: red;
  color: red;
  
  border: 1px solid #BC9CFF;
  background: url('../assets/checkbox-check-mark.svg');
  background-repeat: no-repeat;
  background-position: 50% 40%;
}