<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form elements
  body
.text-field-default
  .text-field_description
    p text field
    p default
  include ./text-field/text-field
  block text-field
  