<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Form elements
body
  .logo

  .text-field-default
    .text-field_description
      p TEXT FIELD
      p DEFAULT
    include ./text-field/text-field
    +text-field('Email')

  .text-field-hover
    .text-field_description
      p TEXT FIELD
      p HOVER / FOCUS
    +text-field('This is pretty awesome','text-field_hover')

  .dropdown
    .text-field_description 
      p DROPDOWN
    div(class="text-field dropdown-field") 
      p Сколько гостей
      .drop-button
    div(class="text-field dropdown-menu invisible")
      .dropped-menu__option
        p ВЗРОСЛЫЕ
        div.dropped-menu__buttons-section
          button(class="add-remove-button guest-minus")  -
          p 0
          button(class="add-remove-button guest-plus") +
      .dropped-menu__option
        p ДЕТИ
        div.dropped-menu__buttons-section
          button(class="add-remove-button guest-minus")  -
          p 0
          button(class="add-remove-button guest-plus") +
      .dropped-menu__option
        p МЛАДЕНЦЫ
        div.dropped-menu__buttons-section
          button(class="add-remove-button child-minus")  -
          p 0
          button(class="add-remove-button child-plus") +
      button.dropped-menu__confirm-button ПРИМЕНИТЬ

  .text-field-masked
    .text-field_description
      p MASKED TEXT FIELD
    +text-field('ДД.ММ.ГГГГ')

  .calendar
    .calendar-top
      .calendar-move-button 
      p Январь 2021
      .calendar-move-button 
    table
      tr 
        td Пн
        td Вт
        td Ср
        td Чт
        td Пт 
        td Сб
        td Вс
      tr
        td 
        td 
        td 
        td 
        td 1
        td 2
        td 3
      tr
        td 4
        td 5
        td 6
        td 7
        td 8
        td 9
        td 10
      tr
        td 11
        td 12
        td 13
        td 14
        td 15
        td 16
        td 17
      tr
        td 18
        td 19
        td 20
        td 21
        td 22
        td 23
        td 24
      tr
        td 25
        td 26
        td 27
        td 28
        td 29
        td 30
        td 31
    .calendar-buttons
      button.dropped-menu__confirm-button ОЧИСТИТЬ
      button.dropped-menu__confirm-button ПРИМЕНИТЬ

  div(id="calendar")
    


  
  



      
    


  