<!DOCTYPE html>
html(lang="en")
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Colors and Type
body

  include ./palette/palette
  block palette

  include ./type/type
  block type

  .logo
